*{
    margin: 0;
}
body{
    background-image: url(assets/image/simple-blue-gradient-background-vector.avif);
    background-size: cover;
}
nav{
    background-color: rgb(0, 247, 255);
    width: 100%;
    position: fixed;
    height: 40px;
}
nav ul{
    list-style: none;
}
nav li{
    float: left;
    padding: 9px 18px;
}
a:hover{
    color: rgb(255, 0, 255);
}
/* content------1 */
.header{
    background-color: black;
    top: 30px;
    height: 50px;
    max-width: 100%;
    padding: 40px 0px 0px 60px;
}
.judul1{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px yellow;
    margin: 10px 440px;
}
hr{
    width: 95%;
    margin-top: 10px;
    margin-right: 15px;
    border-bottom: 5px solid red;

}
.header i{
    color: aquamarine;
    background-color: rgba(0, 0, 0, 0.952);
    padding: 1px 4px;
    margin-left: 20px;
    text-decoration: none;
    border-radius: 5px;
}


.judul2{
    color: aliceblue;
    padding-top: 40px ;
    padding-left: 20px;
    margin: 10px auto;
    
}
.container{
    display: flex;
    flex-direction: row;
    margin: 30px ;
    padding: 1px 10px;
}

.frame{
    margin-right: 10px;
    border: 5px double blue;
    float: left;
}
.box1{
    margin: 70px;
    padding: 2px 3px;
    border: 6px ridge rgb(251, 255, 5);
    background-color: rgb(0, 0, 0);
}
.box1 p{
    color: white;
    margin: 10px ;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: justify;
}
/* content------1 */

/* content------2 */
.header2{
    top: 30px;
    height: 50px;
    max-width: 100%;
    padding: 40px 0px 0px 60px;
}
.judul3{
    color: white;
    padding-top: 40px ;
    padding-left: 20px;
    margin: 10px auto;
}

.container2{
    display: flex;
    flex-direction: row;
    margin: 30px ;
    padding: 1px 10px;
}
.frame2{
    float: right;
    border: 5px double yellowgreen
    
}
.box2{
    margin: 70px;
    padding: 2px 3px;
    border: 6px ridge rgb(251, 255, 5);
    background-color: rgb(0, 0, 0);
}
.box2 p{
    color: white;
    margin: 10px ;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}


/* content------2 */

/* content------3 */
.header3{
    top: 30px;
    height: 50px;
    max-width: 100%;
    padding: 40px 0px 0px 60px;
}
.judul4{
    color: rgb(0, 0, 0);
    padding-top: 40px ;
    padding-left: 20px;
    margin: 10px auto;
        
}
.container3{
    display: flex;
    flex-direction: row;
    margin: 30px ;
    padding: 1px 10px;
}

iframe{
    margin: 4px;
    float: right;
    margin: 8px;
}
.frame3{
    border: 5px double green;
    float: left;
    margin: 5px;
}
.box3{
    margin: 35px;
    padding: 2px 3px;
    border: 6px ridge rgb(251, 255, 5);
    background-color: rgb(0, 0, 0);
}
.box3 p{
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: justify;
}
/* content------3 */

/* content------4 */
.header4{
    top: 30px;
    height: 50px;
    max-width: 100%;
    padding: 40px 0px 0px 60px;
}

.judul5{
    color: rgb(0, 0, 0);
    padding-top: 40px ;
    padding-left: 20px;
    margin: 10px auto;
}
.container4{
    display: flex;
    flex-direction: row;
    margin: 30px ;
    padding: 1px 10px; 
}

.frame4{
    float: right;
    border: 5px double yellowgreen
    
}
.box4{
    margin: 35px;
    padding: 15px 15px;
    border: 6px ridge rgb(251, 255, 5);
    background-color: rgb(0, 0, 0);
}
.box4 p{
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: justify;
    padding: 8px;
}
/* content------4 */

footer{
    max-width: 100%;
    height: 35px;
    padding: 5px;
    background-color: red
    
}
footer .kiri{
    float: left;
    color: aliceblue;
    
}
footer .kanan{
    float: right;
    color: aliceblue;
}
.kanan a{
    padding-right: 5px;
    color: aliceblue;
    text-decoration: none;
}



/* MY PORTOFOLIO */
@media (max-width: 1200px){
    body{
        background-color: rgb(0, 0, 0);
    }
    .header{
        font-size: 20px;
    }
}


.portofolio{
    top: 100px;
    max-width: 100%;
    padding: 85px 0px 60px 0px;
    
}
.portofolio h2{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.container5{
    border: ridge 2px red;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-box{
    width: 250px;
    border: solid 2px greenyellow;
    height: 300px;
    /* background-color: green; */
    margin-bottom: 10px ;
    position: relative;
    
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-box p{
    background-color: black;
    position:absolute;
    top: 43%;
    width: 100%;
    padding: 20px 0px 20px 0px;
}
.img-box p:hover{
    opacity: 0.8;
}
    