    /* contoh tag selector */
    *{
        margin: 0;
    }
    body{
        background-color: rgb(0, 0, 0);
    }
    nav{
        background-color: rgb(0, 247, 255);
        width: 100%;
        position: fixed;
        height: 40px;
    }
    nav ul{
        list-style: none;
    }
    nav li{
        float: left;
        /* padding-top: 10px;
        padding-right: 7px; */
        padding: 8px 17px;   /* top bottom= 7px, right left=15px */
    }
    /* pseudo class */
    a:hover{
        color: rgb(255, 0, 255);
    }
    /* contoh class selector */
    .header{
        /* background-color: azure; */
        background-image: url(image/gohan.jpg);
        background-size: cover;
        top: 50px;
        height: 200px;
        max-width: 100%;
        padding: 80px 0px 0px 150px;
    }
    .judul1{
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 3px 4px yellow;
        border-left: 4px solid red;
        background-color: lightgrey;
        margin: 5px;
    }
    .judul2{
        color: rgb(255, 255, 255);
        font-size: 50px; 
        /* ubah ukuran huruf */
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 3px 4px yellow;
    }
    .jobs{
        margin: 10px 5px;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px  rgb(255, 0, 0);
    }
    .link-tombol-download{
        background-color: aqua;
        padding: 5px 4px;
        margin: 2px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
    }
    /* descendant selector */
    #aboutme h2, .skill h2{
        border: 2px inset red;
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: red;
        padding:5px 4px ;
        margin: 2px;
    }
    .container{
        border: 4px rgb(255, 0, 0) inset;
        width: 800px ;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
    }
    .box1{
        /* border: 2px inset greenyellow; */
        color: aliceblue;
        margin: 10px;
        flex: 2;
    }
    .box2{
        /* border: inset; */
        color: antiquewhite;
        margin: 10px;
        flex: 3;
    }
    .frame{
        border: 2px inset greenyellow;
        border-radius: 40px;
    }
    .box2 p{
        font-size: 15px;
        line-height: 1.5;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
    }
    .skill h2{
        border: 3px ridge red;
        background-color: rgb(0, 0, 0);
        padding: 20px;
        color: red;
    }
    progress{
        width: 60%;
    }
    footer{
        max-width: 100%;
        height: 20px;
        padding: 10px;
        background-color: red
    }
    footer .kiri{
        float: left;
        color: aliceblue;
    }
    footer .kanan{
        float: right;
        color: aliceblue;
    }
    .kanan a{
        padding-right: 5px;
        color: aliceblue;
        text-decoration: none;
    }

    @media only screen and (max-width: 600px){
        .header{
            top: 80px;
            height: 250px;
            padding: 60px 0px 0px 10px;
        }
        .header h1{
            font-size: 35px;
        }
        nav li{
            float: left;
            /* padding-top: 10px;
            padding-right: 7px; */
            padding: 8px 10px;   /* top bottom= 7px, right left=15px */
            font-size: 10px;
            margin-top: 5px;
        }
        .container{
            border: 4px rgb(255, 0, 0) inset;
            max-width: 100% ;
            margin: 20px auto;
            display: flex;
            flex-direction: column;
        }
        .frame{
            border: 2px inset greenyellow;
            border-radius: 40px;
            margin-left: 85px;
        }
        footer{
            max-width: 100%;
            height: 30px;
            padding: 10px;
            background-color: red
        }
        footer .kiri{
            float: left;
            color: aliceblue;
        }
        footer .kanan{
            float: right;
            color: aliceblue;
        }
        .kanan a{
            padding-right: 0px;
            color: aliceblue;
            text-decoration: none;
            font-size: 12px;
        }
    }
    